.main {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.65)
    ),
    url(../../../img/home/net.jpg);
    background-size: cover;
}
.mainTitle {
    font-size: 3rem;
    color: white;
}
.mainSubTitle1 {
    font-size: 2rem;
    color: white;
}
.mainSubTitle2 {
    font-size: 1.2rem;
    color: white;
}
.mainInput {
    font-size: 2rem!important;
    border-radius: 0!important;
}
.mainInput::placeholder {
    font-size: 1.4rem;
}
.mainButton {
    font-size: 2rem!important;
    background-color: #e50914;
    color: white;
    border-radius: 0;
}
.mainButton:hover {
    background-color: darkred;
    color: white;
}
.bannerInfo {
    padding-top: 15em;
    color: #000000;
}
.section1 {
    background-color: black;
    color: white;
    margin-top: 8px;
}
.section1Title1 {
    padding-left: 12%;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}
.section1Title2 {
    font-size: 1.625rem;
    font-weight: 400;
    padding-left: 12%;
}
.section2 {
    background-color: black;
    color: white;
    margin-top: 8px;
}
.section2Title1 {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}
.section2Title2 {
    font-size: 1.625rem;
    font-weight: 400;
}
.section4 {
    background-color: black;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.section4Title {
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

@media (max-width: 1440px) {
    .main {
        min-height: 700px;
    }
    .bannerInfo {
        padding-top: 12em;
    }
}