.main {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.65)
    ),
    url(../../../img/home/net.jpg);
    background-size: cover;
}
.mainTitle {
    font-size: 3rem;
    color: white;
}
.mainSubTitle1 {
    font-size: 2rem;
    color: white;
}
.mainSubTitle2 {
    font-size: 1.2rem;
    color: white;
}
.mainInput {
    font-size: 2rem!important;
    border-radius: 0!important;
}
.mainInput::placeholder {
    font-size: 1.4rem;
}
.mainButton {
    font-size: 2rem!important;
    background-color: #e50914;
    color: white;
    border-radius: 0;
}
.mainButton:hover {
    background-color: darkred;
    color: white;
}
.bannerInfo {
    padding-top: 15em;
    color: #000000;
}
.section1 {
    background-color: black;
    color: white;
    margin-top: 8px;
    padding-top: 30px;
    padding-bottom: 30px;
}


@media (max-width: 1440px) {
    .main {
        min-height: 700px;
    }
    .bannerInfo {
        padding-top: 12em;
    }
}