.main {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.65)
    ),
    url(../../../img/home/net.jpg);
    background-size: cover;
    padding-top: 150px;
}
.loginContainer {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 60px;
    border-radius: 5px;
}
.Input {
    font-size: 1.6rem;
    background-color: #333333;
    border-color: #333333;
    margin-bottom: 20px;
}

.Input::placeholder {
    font-size: 1.2rem;
}
.btnLogin {
    background-color: #e50914;
    color: white;
    font-size: 1.6rem;
}
.btnLogin::hover {
    background-color: darkred;
    color: white;
}



.inputForm{
    font-size: 14pt;
    outline: none;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    height: 2.25em;
    margin: 5px 0 10px 0;
    padding: 10px;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}
.inputForm:hover {
    border-color: #B5B5B8;
}
.inputForm:focus {
    border-color: #7CD1F9;
}
.buttLogin {
    background-color: #7CD1F9!important;
    border-color: #BBD5E4!important;
    color: #000000!important;
    font-weight: bold;
}
.buttLogin:hover {
    background-color: #9BDCFA!important;
}
.forgotP {
    font-size: 0.8rem;
    padding-top: 1rem;
    color: #0b383b;
    cursor: pointer;
    text-decoration: none;
}
.forgotP:hover {
    color: #363636;
     text-decoration: none;
}
.coin {
    width: 120px;
    height: 120px;
    margin: 20px;
    animation: spin 15s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }