.navBarI {
    background-color: transparent!important;
}
.btnLogin {
    background-color: #e50914;
    color: white;
    font-weight: bold;
}
.btnLogin:hover {
    background-color: darkred;
    color: white;
}
.titleBrand {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: -1px;
    font-family: 'Martel Sans', sans-serif;
    color: #e50914;
    text-shadow: 1px 1px 2px black;
}
.dropBtn {
    background-color: #7CD1F9;
    border-color: #BBD5E4!important;
    color: #000000;
    outline: none;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    margin-left: 20px;
    font-weight: bold;
}
.dropBtn:hover {
    background-color: #9BDCFA;
}
.dropBtn:focus {
    outline: none;
}
.wallet {
    background-color: #7CD1F9;
    color: #000000;
    padding: 10px;
    border-radius: 100px;
    font-weight: bold;
    text-decoration: none;
    border-color: #BBD5E4!important;
}
.wallet:hover {
    background-color: #9BDCFA;
    text-decoration: none;
}